button.icon-pause,
button.icon-play {
  display: inline-block;
  font-size: 18px;
  width: 18px;
  height: 18px;
  text-align: center;
}

.icon-pause,
.icon-play {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.icon-play {
  font-size: 15px;
}

.icon-pause::after {
  content: '⏸';
}

.icon-play::after {
  content: '▶';
}

.timer {
  font-size: 14px;
  margin-left: 5px;
  color: #888;
  display: inline-block;
}
